body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}
.App {
  text-align: center;
  font-size: calc(8px + 1vmin);
  color: white;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}
p {
  font-size: calc(8px + 1vmin);
  color: white;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

.graph {
  margin: auto;
  width: 30vw;
  height: auto;
}
.form {
  bottom: 0;
  padding: 1rem;
}
@media screen and (max-width: 780px) {
  .graph {
    margin: auto;
    width: 90vw;
    height: auto;
  }
  .form {
    bottom: 0;
    padding: 1rem;
  }
}
@media screen and (min-width: 780px) {
  .graph {
    width: 25vw;
    height: auto;
  }
  .form {
    bottom: 0;
    padding: 1rem;
  }
}
